    <header>
        <div id="reader" class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-1">
                </div>
                <div class="col-md-7">
                    <div class="header-content">
                        <div class="header-content-inner">
                            <img src="/assets/images/goRead.png" alt="GO Read!" class="img-responsive">
                            <h1>READER</h1>
                            <p>An app designed to help you set goals for reading and to keep track of your progress. Future functionality includes being able to rate the books you've read, answer questions and vocabulary word regarding the books you've read</p>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Families -->
    <section id="parent" class="parent bg-primary text-left">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-1">
                    <h2 class="section-heading">PARENT</h2>
                    <br>
                    <p>Benifits for the Parents. Set reading goals for your children and track their progress. Future functionality includes being able to rate the books you've read, answer questions and vocabulary word regarding the books you've read</p>
                </div>
                <div class="col-md-5">
                    <img src="/assets/images/happykids.png" alt="Happy Kids!" class="img-responsive">
                </div>
            </div>
        </div>
    </section>

    <!-- Educators -->
    <section id="teacher" class="teacher text-left">
    <!-- <section id="download" class="download bg-primary text-center"> -->
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-md-offset-1">
                    <img src="/assets/images/happyteacher.png" alt="Happy Teacher!" class="img-responsive">
                </div>
                <div class="col-md-6">
                    <h2 class="section-heading">TEACHER</h2>
                    <br>
                    <p>Benifits for the Teachers. Manage your students reading goal all from online. Weekly status reports or live up to the minute status.</p>
                </div>
            </div>
        </div>
    </section>