   <header>
        <div id="myKids" class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="header-content">
                        <div class="header-content-inner">
                            <h2 class="section-heading">My Kids</h2>
                                    <form action="/kids/add" method="POST">
                                        <input type="text" name="kid_name" placeholder="what's the name of the kid?" /><br />
                                        <input type="text" name="kid_email" placeholder="what's the email of the kid?" /><br />
                                        <input type="submit" value="Add Kid"></input>
                                    </form>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>e-mail</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each kids}}
                                        <tr>
                                            <td> {{this.kid_name}} </td>
                                            <td> {{this.kid_email}} </td>
                                        </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- My Books Section -->
    <section id="kidsBooks" class="kidsBooks bg-primary text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="section-heading">Kid's Books</h2>
                        <form class="create-update-form" action="/kids/log" method="POST">
                                <label>My Kids: 
                                    <select name="kid" >
                                        {{#each kids}}
                                            <option value= {{this.kid_email}} > {{kid_name}} </option>
                                         {{/each}}
                                    </select>
                                </label>
                                     <input type="text" name="kid_book" placeholder="what's the name of the book?" /><br />
                                     <input type="submit" value="Add Book"></input>
                                </form>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Author</th>
                                <th>Current Page</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>First Book</td>
                                <td>Chris</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td>Second Book</td>
                                <td>Scott</td>
                                <td>0</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <!-- My Progres Section -->
    <section id="kidsProgress" class="kidsProgress text-center">
    <!-- <section id="download" class="download bg-primary text-center"> -->
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="section-heading">Kid's Progress</h2>
                    
                    <form>
                        <input list="period" name="progress" >

                        <datalist id="period">
                            <option value="Current Week">
                            <option value="Previous Week">
                            <option value="Last 30 days">
                            <option value="Last 90 days">
                        </datalist>


                        <input type="submit" name="report" value="Go">
                    </form>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Title</th>
                                <th>Time (minutes)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1/12/2017</td>
                                <td>First Book</td>
                                <td>35</td>
                            </tr>
                            <tr>
                                <td>1/13/2017</td>
                                <td>First Book</td>
                                <td>25</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td> </td>
                                <td>Total Minutes:</td>
                                <td>60</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </section>